html
{
	height: 100%;
}

body
{
	height: 100%;
	margin: 0;
	padding: 0;
	background: url("../img/noisy_net.png");
}

#map-canvas
{
	height: 50%;
	width: 60%;
	margin-left: 20%;
}

.zoom
{
	margin-left: 10px;
}

h5
{
	color: #FFF;
}

#map-canvas img
{
	max-width: none;
}

.title
{
	text-align: center;
	color: #FFF;
}

.address
{
	max-width: 170px;
}

.options
{
	background: url("../img/twinkle_twinkle.png");
	padding-top: 20px;
}

.showIcon
{
	height: 29px;
	min-width: 27px;
}

@media only screen and (max-width: 48em) {
	#map-canvas
	{
		height: 50%;
		width: 80%;
		margin-left: 10%;
	}
}